#Data files
raw_data/
preprocessed_data/movies_with_tokenized_plots.csv

# Model files and checkpoints
/models/
*.h5
*.pkl

# Environment and configuration
.env
.env.yaml
.envrc
.env.yaml
.python-version

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.nbconvert.ipynb

# IDE specific files
.DS_Store

# Python cache files
__pycache__/

.vscode/
package_folder.egg-info/
